In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [7]:
#read csv file from online github 
df2 = 'https://raw.githubusercontent.com/leningschulich/schulich_data_science/main/experiment_dataset.csv'
df = pd.read_csv(df2)
df

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [8]:
df.info() # understanding our DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Age         1000 non-null   int64
 2   Location    1000 non-null   object
 3   Device      1000 non-null   object
 4   Variant     1000 non-null   object
 5   Time Spent  1000 non-null   float64
 6   CTR         1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

In [15]:
distinct_values_Location = df['Location'].unique()
distinct_values_Variant = df['Variant'].unique()
distinct_values_Devicen = df['Device'].unique()
print(distinct_values_Location)
print(distinct_values_Variant)
print(distinct_values_Devicen)

['Location2' 'Location1' 'Location3']
['Control' 'Variant B' 'Variant A']
['Device2' 'Device1' 'Device3']

We can find that there is no none value in the file, and there are three distuish value exist in column Location, Device and Variant.

In [9]:
df.describe(include = 'all')

,Unnamed: 0,Age,Location,Device,Variant,Time Spent,CTR
count,1000.000000,1000.000000,1000,1000,1000,1000.000000,1000.000000
unique,NaN,NaN,3,3,3,NaN,NaN
top,NaN,NaN,Location2,Device3,Control,NaN,NaN
freq,NaN,NaN,343,346,340,NaN,NaN
mean,499.500000,40.715000,NaN,NaN,NaN,22.713345,0.109145
std,288.819436,13.655557,NaN,NaN,NaN,5.479292,0.022366
min,0.000000,18.000000,NaN,NaN,NaN,7.114806,0.012975
25%,249.750000,28.000000,NaN,NaN,NaN,19.216608,0.094286
50%,499.500000,41.000000,NaN,NaN,NaN,22.506707,0.108944
75%,749.250000,53.000000,NaN,NaN,NaN,26.255950,0.124238
max,999.000000,64.000000,NaN,NaN,NaN,39.395770,0.172728

In [11]:
df['CTR'].median()

0.10894365182827664

In [12]:
df['Time Spent'].median()

22.506707371240026

We can find that the median and mean value of CTR are similar, so does the value in Time Spent. As a result, we assume normal distribution for the data.